@import "./vars";
@import "./mixins";
@import "./media";

html {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
}

html,
body {
  height: 100%;
}

body.noscroll {
  overflow-y: hidden;
}

h1 {
  @apply --header-1;

  margin: 0;
}

h2 {
  @apply --header-2;

  margin: 0;
}

h3 {
  @apply --header-3;

  margin: 0;
}

.text {
  @apply --text;
}
